<!DOCKTYPE html>
<html lang="en">
<head>
  <meta charset ="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
  <title>CONTACT US</title>
</head>  
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PURSUIT INDIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/symptoms">Symptoms</a>
          <a class="dropdown-item" href="/contact">Contact</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
  </div>
  </nav>






  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">STATE</th>
      <th scope="col">HELPLINE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andhra Pradesh</td>
      <td>0866-2410978</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Arunachal Pradesh</td>
      <td>9436055743</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Assam </td>
      <td>6913347770</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Bihar</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Chhattisgarh</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Goa</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Gujarat</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Haryana</td>
      <td>8558893911</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Himachal Pradesh</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Jharkhand</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Karnataka </td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Kerala</td>
      <td>0471-2552056</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Madhya Pradesh</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Maharashtra</td>
      <td>020-26127394</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Manipur</td>
      <td>3852411668</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Meghalaya</td>
      <td>108</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Mizoram</td>
      <td>102</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Nagaland</td>
      <td>7005539653</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Odisha</td>
      <td>9439994859</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Punjab</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Rajasthan</td>
      <td>0141-2225624</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>Sikkim</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>Tamil Nadu</td>
      <td>044-29510500</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>Telangana</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>Tripura</td>
      <td>0381-2315879</td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>Uttarakhand</td>
      <td>104</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>Uttar Pradesh</td>
      <td>18001805145</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>West Bengal</td>
      <td>1800313444222</td>  
    </tr>
  </tbody>
</table>

<br>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr.no</th>
      <th scope="col">UNION TERRITORY</th>
      <th scope="col">HELPLINE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andaman and Nicobar</td>
      <td>03192-232102</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Chandigarh </td>
      <td>9779558282</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Delhi</td>
      <td>011-22307145</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jammu and Kashmir</td>
      <td>0194-2440283</td>
    </tr>
  </tbody>
</table>

</body>     
</html>